Subject: Opportunity in {{neighborhood}} amid {{trigger_event}}

Hi {{name}},

Noticed your recent {{role_change}} – congrats! With {{policy_shift}}, {{neighborhood}} properties are prime.

Our latest: {{listing_snip}} $2.8M, Kalorama.

Interested in discreet options?

Best,
Congressional Executive Partners

[Compliant: Public data only]
